{%load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Usoke Explorers</title>
     <a href="{% url 'homepage' %}">Home</a>
    <link rel="stylesheet" href="design.js">
    <link rel="stylesheet" href="static/css/base.css">
    <!--<link rel="stylesheet" href="style.css">-->
    
</head>
<body>
    
     <h2 id="h2">About Usoke Explorers</h2>
    
    
   <div id="mis">
    <h2 >Mission:</h2>
    <p>Our mission is to tour the whole world </br>
       and enable the people to reach their dream , </br>
       countries and fancy place in the world.</br>
         Also to add on the tourist industry in the</br>
         country.
          
        </p>
</div>


</div>
<div id="we">
    <h2>We Offer</h2>
    <p>We offer very many packages to our clients,</br>
       Our packages are golden package,silver package</br>
      and the diamond packages those packages come with </br>
       three meals,transportation,accommandation.</br>
       
       
    </p>
</div>
</body>
</html>