{%load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usoke Explorers</title>
     <a href="{% url 'homepage' %}">Home</a>
    <link rel="stylesheet" href="design.js">
    <!--<link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" href="static/css/style.css">
    <!--<a href="home.html">Home</a>-->
</head>
<body>
    <h1 id="Our">Services</h2>
    <div id="tours">
        <h2>World Wide Tours</h2>
        <p>We make you Explore all</br>
           the beautifull places in</br>
           the world.
        </p>
    </div>
    <div id="Hotel">
        <h2>Hotel Reservation</h2>
        <p>We provide better accomodation</br>
           and Hospitality such as hotels,</br>
           campsites, short-term furnished</br>
           accommodation,holiday homes,resorts</br>
            holiday centres for children</br>
           and young people,
        </p>
    </div>

    <div id="travel">
        <h2>Travel guides</h2>
        <p>We provide differnt tour</br>
            guides to take you around</br>
            and very hospitable.
        </p>
    </div>
    <div id="Event">
        <h2>Event Management</h2>
        <p>We providing cozy and comfortable </br>
           facilities to the visitor or traveler</br>
           throughout the tourism,such as</br>
           drinking water, food, and sanity.</br>
            
        </p>
    </div>
    
</body>
</html>